*{margin: 0;
padding: 0;
box-sizing: border-box;}

.header{
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height:70px;
    border: 2px solid rgba(77, 113, 179, 0.92)
}

/* IMAGEN */
.logo{
    /* display: flex;
    margin-right: 0; */
    padding: 4px;
   /* background-color: aqua;*/
    height:100%;
    width:auto;
   
}
.nav-menu{
    display: flex;
    background-color: rgb(240, 240, 240);
    margin-right :5%; 
    align-items: center;

    
}
.opciones{
    display: flex;
    list-style-type: none;
    width: 700px;
    justify-content: center;
    align-items: center;
}

li{
    display:flex;
    border: 1px solid rgba(203, 203, 203, 0.87);
    padding-left: 20px;
    padding-right: 20px;
    /* width: 1000px; */
    height: 45px;
    justify-content:center;
    align-items: center;
    /*background-color: bisque;*/
    font-size: 20px;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    font-weight: 100;
    font-family:'fredoka one', 'sans-serif'
}

li a.opcion_seleccionada{
    color: rgb(77, 113, 179);
    text-decoration: none;
}
.opciones li a:hover{
    color: rgb(217, 47, 47);
}

header .icono_menu{
    display:none;
    font-size: 30px;
    color:rgb(77, 113, 179);
}

/* Mas de 900 pixeles */

/* @media(min-width:900px){
    .opciones{
        display:none;
    }
    .icono_menu{
        display:inline;
    }
    
} */

/* Menos de 900px */
@media(max-width:900px){
    .opciones{
        display:none;
    }
    header .icono_menu{
        display:inline;
    }
}