/* Capas y Delantales titulo de pagina */

.nombre_pagina{
    display: flex;
    width: 40%;
    height: auto;
    /* background-color: brown; */
    font-size: 40px;
    font-family: "Titillium Web",sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 60px;
    padding-left: 40px;
}

.contenedor_nombre_img .linea_de_productos_8{
    color: white;
    background:linear-gradient(to left,rgb(0, 120, 129),rgb(30, 41, 44));
    width: 30%;
}
