.contenedor_inicial{
    display: flex;
    width: 100%;
    height: 120px;
    /* background-color: aqua; */
    margin-top: 25px;
}

.nombre_pagina{
    display: flex;
    width: 30%;
    height: auto;
    /* background-color: brown; */
    font-size: 50px;
    font-family: "Titillium Web",sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.contenedor_img_pagina{
    display: flex;
    /* background-color: bisque; */
    width: 70%;
}
.contenedor_img_pagina img{
    width: 90%;
    height: auto;
}