*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;

}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    
}