main{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    /*background-color: rgba(229, 43, 127, 0.485);*/
    background-color: rgb(228, 131, 116)
}


h1{

    border-bottom:  4px solid greenyellow;
    margin-bottom: 35px;
    color: rgb(255, 255, 255);

}

.contenedor_tarjeta{

    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 15px;
    row-gap: 20px;
    /*width: 90%;
    background-color: brown;*/
}


.tarjeta{

    width: 300px;
    height: 350px;
    background-color: aqua;
    /* border: 5px solid rgb(162, 201, 71); */
    border: 3px solid rgb(203, 255, 126)
   
}


.tarjeta span{

    font-size: 30px;
    padding-left: 50px;
    
}

.tarjeta img{
    
    width: 300px;
}
    